<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Surf Report</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="title">Surf Report</h1>
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
            </div>
        </header>
       <section class="location-input">
            <h2>Enter Your Location</h2>
            <form>
                <input type="text" id="location" name="location" placeholder="Enter your location">
                <button type="button" id="auto-locate">🗺 Auto Locate</button>
            </form>
        </section>
        <section class="current-weather">
            <h2>Current Weather</h2>
            <div id="weather-info">
                <!-- Weather data goes here -->
            </div>
        </section>
        <section class="plot-section">
            <div class="plot">
                <h2>Swell Prediction</h2>
                <div id="swell-plot">
                    <!-- <div class="chart-container"> -->
                        <canvas id="myChart"></canvas>
                    <!-- </div> -->
                </div>
            </div>
            <div class="plot">
                <h2>Tide Prediction</h2>
                <div id="tide-plot">
                    <!-- Tide plot goes here -->
                        <canvas id="tideChart"></canvas>
                </div>
            </div>
            <div class="plot">
                <h2>Wind Prediction</h2>
                <div id="wind-plot">
                    <!-- Wind plot goes here -->
                        <canvas id="windChart"></canvas>
                </div>
            </div>
        </section>
    </div>
</body>

<!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
<script>require('./index.js')
 </script>
    <script>
        document.getElementById('checkbox').addEventListener('change', function(event) {
    if (event.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
    }
});

</script> 
</html>
