<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Surf Report</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="title">Surf Report</h1>
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
            </div>
        </header>
       <section class="location-input">
        <h2>
          <img src="../../assets/texticons/icons8-map-marker-94.png" alt="" style="width:30px;height:30px;"> Enter your location
        </h2>
            <form>
                <input type="text" id="location" name="location" placeholder="Enter your location">
                <button type="button" id="locate">Locate</button>
                <button type="button" id="auto-locate">🗺 Auto Locate</button>
            </form>

        </section>
        <section class="locations">
                        <!-- <div id="spot-list"></div> -->
                    <ul id="spot-list"></ul>
        </section>
        <section style="margin-bottom:20px" class="current-conditions">
            <h2 id="c_conditions" style="margin-left: 40px; margin-bottom: 15px; color:#3075af">Current Conditions</h2>
                <div class="card surf-info">
                  <!-- <h2>Surf Info</h2> -->
                  <!-- Content for surf-info div -->
                </div>

                <div class="card wind-info">
                  <h2>Wind Info</h2>
                  <!-- Content for wind-info div -->
                </div>

                <div class="card tide-info">
                  <h2>Tide Info</h2>
                  <!-- Content for tide-info div -->
                </div>

                <div class="card wetsuit">
                  <h2>Sat view</h2>
                  <!-- Content for wetsuit div -->
                </div>
                <div class="card weather-info">
                  <h2>Weather Info</h2>
                  <!-- Content for tide-info div -->
                </div> 
                <div class="card swell-info">
                  <h2>Swell Info</h2>
                  <!-- Content for tide-info div -->
                </div> 
        </section>
<section class="plot-section">
    <div class="plot">
        <h2>Swell Prediction</h2>
        <div id="swell-plot" class="plot-container">
            <div id="arrow_left" class="arrow left" >&#10094;</div>
            <canvas id="myChart"></canvas>
            <div id="arrow_right"class="arrow right" >&#10095;</div>
        </div>
    </div>
    <div class="plot">
        <h2>Tide Prediction</h2>
        <div id="tide-plot" class="plot-container">
            <div id="arrow_left2" class="arrow left" >&#10094;</div>
            <canvas id="tideChart"></canvas>
            <div id="arrow_right2"class="arrow right" >&#10095;</div>
        </div>
    </div>
    <div class="plot">
        <h2>Wind Prediction</h2>
        <div id="wind-plot" class="plot-container">
            <div id="arrow_left3" class="arrow left" >&#10094;</div>
            <canvas id="windChart"></canvas>
            <div id="arrow_right3" class="arrow right" >&#10095;</div>
        </div>
    </div>
</section>
    </div>
</body>

<!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
<script>require('./index.js')
 </script>
    <script>
        document.getElementById('checkbox').addEventListener('change', function(event) {
    if (event.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
    }
});

</script> 
</html>
