body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    transition: background-color 0.5s;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: #01579b;
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.5s;
}

.title:hover {
    color: #0277bd;
}

.current-weather {
    background-color: #4fc3f7;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.5s;
}

.current-weather:hover {
    background-color: #29b6f6;
}

.plot-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plot {
    background-color: #81d4fa;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    position: relative;
    transition: background-color 0.5s, transform 0.5s;
}

.plot h2 {
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.5s;
}

.plot:hover {
    background-color: #4fc3f7;
    transform: scale(1.02);
}

.plot h2:hover {
    /* color: #0277bd; */
}


.location-input {
    background-color: #81d4fa;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-input h2 {
    margin-right: 20px;
}

.location-input form {
    flex-grow: 1;
    display: flex;
    gap: 10px;
}

.location-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.location-input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4fc3f7;
    color: #fff;
    cursor: pointer;
}

.location-input button:hover {
    background-color: #29b6f6;
}
